In [42]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.datasets import load_breast_cancer
from sklearn.metrics import confusion_matrix

dataset =pd.read_excel('dataForKnn.xlsx')

le = preprocessing.LabelEncoder()
genderEncoded=le.fit_transform( dataset['Gender'])
print(dataset['Gender'])
print(genderEncoded)
genderEncoded = pd.DataFrame(genderEncoded)
countryEncoded = le.fit_transform( dataset['Country'])
countryEncoded =pd.DataFrame(countryEncoded)
x =pd.concat( [genderEncoded,dataset['Year']],axis=1)
y = pd.DataFrame(dataset['Label'])

X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=1)

knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)

result = knn.predict([[0,1961]])
print(result[0])

0        Male
1      Female
2        Male
3      Female
4        Male
        ...
99     Female
100      Male
101      Male
102    Female
103      Male
Name: Gender, Length: 104, dtype: object
[1 0 1 0 1 0 1 1 1 0 0 1 1 0 1 0 0 0 1 1 0 1 0 0 1 1 1 0 1 0 1 1 1 0 0 1 0
 0 1 1 0 0 1 1 0 0 1 1 0 1 0 0 0 1 1 0 1 1 0 1 0 1 1 0 0 0 1 1 0 1 0 1 0 1
 0 1 0 1 0 1 0 1 0 1 0 1 0 0 0 1 1 1 0 1 0 0 1 1 0 0 1 1 0 1]
4

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

In [37]:
countryEncoded

     0
0    1
1    1
2    0
3    2
4    0
..  ..
99   0
100  1
101  2
102  1
103  1

[104 rows x 1 columns]

In [3]:
dataset.columns

Index(['Gender', 'Country', 'Year', 'Label'], dtype='object')

[1 0 1 0 1 0 1 1 1 0 0 1 1 0 1 0 0 0 1 1 0 1 0 0 1 1 1 0 1 0 1 1 1 0 0 1 0
 0 1 1 0 0 1 1 0 0 1 1 0 1 0 0 0 1 1 0 1 1 0 1 0 1 1 0 0 0 1 1 0 1 0 1 0 1
 0 1 0 1 0 1 0 1 0 1 0 1 0 0 0 1 1 1 0 1 0 0 1 1 0 0 1 1 0 1]

     0  Year
0    1  1997
1    0  2001
2    1  1999
3    0  2002
4    1  2003
..  ..   ...
99   0  2009
100  1  2007
101  1  2005
102  0  2006
103  1  2007

[104 rows x 2 columns]

In [7]:


y

     Label
0        2
1        2
2        2
3        2
4        2
..     ...
99       1
100      1
101      1
102      1
103      1

[104 rows x 1 columns]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [11]:
y_pred = knn.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[ 9,  0,  0],
       [ 0, 13,  0],
       [ 0,  0,  4]], dtype=int64)

In [29]:
result = knn.predict([[0,1961]])
print(result)

[4]

In [ ]:
import pandas as pd